h1 {
    color: rebeccapurple;
    font-size: 50px;
}

.is-centered {
    text-align: center;
}
.is-red {
    color: red;
}

#game {
    width: 320px;
    height: 240px;
    overflow: hidden;
    background: linear-gradient(#1293f5, #bae8ff 80%, #35b236 80%);
}
#player {
    margin-top: 140px;
    margin-left: 50px;
}
/* Don't worry about knowing what all of these properties are yet */
/* we'll come back to them later, we promise! */

* {
    outline: 1px solid red;
}

.quote p {
    color: darkslategrey;
    font-style: italic;
}

.header > img {
    height: 50px;
}

input {
    padding: 5px;
    border-color: rebeccapurple;
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid rebeccapurple;
}
input[type="submit"] {
    color: white;
    background-color: rebeccapurple;
}
