.btn {
    color: white;
    background-color: aqua;
    box-shadow: 10px 5px 5px black;
    border: 2px solid black;
}

ul {
    list-style-type: none;
    /*float: right; */
}

li {
    display: inline-flex;
}

.homework-nav {
    color: white;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.items-start {
    display: flex;
    align-items: flex-start;
    color: black;
    background-color: lightskyblue;
    width: 100%;
}

.items-center {
    display: flex;
    align-items: center;
    color: black;
    background-color: lightskyblue;
    width: 100%;
}

.items-end {
    display: flex;
    align-items: flex-end;
    color: black;
    background-color: lightskyblue;
    width: 100%;
}

.items-stretch {
    display: flex;
    align-items: stretch;
    color: black;
    background-color: lightskyblue;
    width: 100%;
}

.justify-start {
    display: flex;
    justify-content: flex-start;
    color: black;
    background-color: lightpink;
}

.justify-center {
    display: flex;
    justify-content: center;
    color: black;
    background-color: lightpink;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
    color: black;
    background-color: lightpink;
}

.justify-between {
    display: flex;
    justify-content: space-between;
    color: black;
    background-color: lightpink;
}

.justify-around {
    display: flex;
    justify-content: space-around;
    color: black;
    background-color: lightpink;
}

.justify-evenly {
    display: flex;
    justify-content: space-evenly;
    color: black;
    background-color: lightpink;
}

.content-start {
    height: 100px;
    display: flex;
    align-content: flex-start;
    color: black;
    background-color: lightgreen;
}

.content-center {
    height: 100px;
    display: flex;
    align-content: center;
    color: black;
    background-color: lightgreen;
}

.content-end {
    height: 100px;
    display: flex;
    align-content: flex-end;
    color: black;
    background-color: lightgreen;
}

.content-stretch {
    height: 100px;
    display: flex;
    align-content: stretch;
    color: black;
    background-color: lightgreen;
}

.content-between {
    height: 100px;
    display: flex;
    align-content: space-between;
    color: black;
    background-color: lightgreen;
}

.content-around {
    height: 100px;
    display: flex;
    align-content: space-around;
    color: black;
    background-color: lightgreen;
}