h1 {
    color: white;
    background-color: black;
    text-align: left;
}


h2 {
    background-color: purple;
    text-align: center;
    font-style: italic;
}


h3 {
    background-color: lightblue;
    text-decoration: underline;
    text-align: right;
}


